:root {
    --color-lightest: hsl(0deg, 0%, 0%);
    --color-lighter: hsl(0deg, 0%, 20%);
    --color-verylight: hsl(0deg, 0%, 25%);
    --color-light: hsl(0deg, 0%, 40%);
    --color-strong: hsl(0deg, 0%, 60%);
    --color-stronger: hsl(0, 0%, 80%);
    --color-strongest: hsl(0deg, 0%, 100%);
    --color-text-area: hsl(0deg, 0%, 85%);
    --color-active: hsl(288, 71%, 73%);
}